@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 17% 97%;
    --foreground: 216 28% 24%;

    --card: 0 0% 100%;
    --card-foreground: 216 28% 24%;

    --popover: 0 0% 100%;
    --popover-foreground: 216 28% 24%;

    --primary: 351 77% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 28% 24%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 216 10% 50%;

    --accent: 195 37% 52%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 351 77% 45%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 216 28% 12%;
    --foreground: 0 0% 98%;

    --card: 216 28% 16%;
    --card-foreground: 0 0% 98%;

    --popover: 216 28% 16%;
    --popover-foreground: 0 0% 98%;

    --primary: 351 77% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 28% 24%;
    --secondary-foreground: 0 0% 100%;

    --muted: 216 28% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 195 37% 52%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 216 28% 24%;
    --input: 216 28% 24%;
    --ring: 351 77% 50%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
